body{
    background-color: #11111125;
    font-family: bnazanin;
    margin: 0px;
    padding: 0px;
}
@font-face {
        font-family: bnazanin;
        src: url(./bnazanin.TTF);
    }
.container{
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 30px auto;
    width: 50%;
    padding-top: 0px;
}
header{
    
    background-color: #555353ee;
    color: white;
    width: 100%;
    text-align: center;
    
}
header h2,h4{
    margin: 0;
}