body{
    background-color: #11111125;
    font-family: bnazanin;
    margin: 0px;
    padding: 0px;
}
@font-face {
        font-family: bnazanin;
        src: url(./bnazanin.TTF);
    }
.container{
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    width: 50%;
    padding-top: 0px;
}
header{
    
    background-color: #555353ee;
    color: white;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid orange;
    
}
header h2,h4{
    margin: 0;
}
header h4{
    font-weight: normal;
}
.section{
    padding: 20px;
}
.field{
    display: flex;
    align-items: center;
    border: 2px solid orange;
    margin-bottom: 14px;
}
.field input{
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-family: bnazanin;
}
.icon{
    width: 36px;
    height: 36px;
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
}
.icon svg{
    width: 18px;
    height: 18px;
    fill: whitesmoke;
}
.field input::placeholder{
    padding-right: 10px;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    
}
.option a{
    color: orange;
    text-decoration: none;
}
button{
    width: 100%;
    background-color: orange;
    border: none;
    height: 36px;
    color: white;
    cursor: pointer;
}
footer{
    box-sizing: border-box;
    width: 100%;
    background: #555353ee;
    text-align: center;
    font-size: 18px;
    font-family: bnazanin;
    padding: 8px;
    color: whitesmoke;
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    color: orange;
}
